.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  color: var(--color-text);
}

.info {
  padding: 72px;
  background-color: var(--color-primary);
}

.title {
  color: var(--color-background);
  font-size: var(--font-xxl);
  text-align: center;
}

.subtitle {
  color: var(--color-background);
  margin: 32px 0;
  font-size: var(--font-xl);
}

.img {
  height: 100%;
  object-fit: cover;
}

.list {
  margin-left: 40px;
  color: var(--color-background);
}

.item {
  font-size: var(--font-l);
  font-weight: var(--font-bold);
  margin: 0 0 48px;
}

.link, .link:visited {
  color: var(--color-background);
}